<!DOCTYPE html>
<html>
  <head>
    <title>who pays artists?</title>
    <script type='text/javascript' src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type='text/javascript' src='javascripts/main.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="heading">WHO PAYS ARTISTS?</p>
    <p>Who pays artists is a collection of anonymously submitted reports about how artists get paid for their work.</p>

    <div id="report">
      <form name="input" action="http://localhost:3000/" method="post">
        <p>How much did you get paid? <input type="text" name="how_much"></p>
        <p>Who paid you? <input type="text" name="who_paid"></p>
        <input type="submit" class="button" value="Submit">
      </form>
      <% if (thanks) { %>
        <div id="thanks">
        thanks for submitting!
        </div>
      <% } %>
    </div>
    <div id="stream">
      <ul>
      <% for(var i=0; i<reports.length; i++) {%>
         <li><%= reports[i].who_paid %> paid <%= reports[i].how_much %></li>
      <% } %>
      </ul>
    </div>
  </body>
</html>