body {
  padding: 0;
  margin: 0 50px 50px 50px;

  font-family: "Open Sans Condensed", sans-serif;
  font-size: 21px;
  line-height: 30px;
}

a {
  color: #00B7FF;
}

.wrapper {
  margin: auto;
  width: 800px;
  max-width: 100%;
  box-shadow: 0px 0px 50px #888;
}

.section {
  padding: 50px 5% 20px;
  margin: 0;
}

.split {
  clear: none;
  display: inline;
  position: absolute;
  margin: 0;
}

#header {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  text-transform:uppercase;
  text-align: center;
  font-size: 70px;
  line-height: 140px;
  height: 140px;
  color: white;
  background-color: rgb(239, 113, 0);
  text-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

#header .q {
  position: relative;
  top: 0px;
  font-size: 76px;
}

#header img{
  height: 90px;
  position: relative;
  top: 25px;
  margin: 0px 20px;
}

#intro {
  background-color: rgb(237, 237, 237);
}

#share {
  background-color: rgb(221, 186, 23);
}

#learn {
  color: white;
  background-color: rgb(188, 89, 0);
}

h3{
   font-family: "Open Sans Condensed";
   font-size: 36px;
   line-height: 30px;
   margin: 0;
}

.optional_msg{
  font-style: italic;
}

#thanks {

  background: #7D0541;
  padding: 5px;
  color: white;
  font-size: 32px;
}

ul {
  list-style: none;
  padding: 0;
  text-indent: none;
}

li {
  margin-bottom: 20px;
  font-size: 24px;
}
.date {
  font-size: 20px;
  font-style: italic;
}

#download {
  font-style: italic;
}

#footer {
  text-align: center;
  font-style: italic;
}