body {
  padding: 0;
  margin: 0 50px 50px 50px;

  font: 21px "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
}

a {
  color: #00B7FF;
}

.wrapper {
  margin: auto;
  width: 800px;
}

.header img{
  width: 100%;
}

h3{
   font-family: "Open Sans";
   font-weight: 300;
   font-size: 36px;
   line-height: 30px;
}

.optional_msg{
  font-style: italic;
}
.button {
  font: 18px "Open Sans", sans-serif;
  border: 1px dotted #7D0541;
  color: #7D0541;
  display: inline-block;
  cursor: pointer;
  margin: 0 15px 15px 0;
  padding: 9px 9px 9px 9px;
  text-align: left;
  background: none;
}

#thanks {

  background: #7D0541;
  padding: 5px;
  color: white;
  font-size: 32px;
}

ul {
  list-style: none;
  padding: 0;
  text-indent: none;
}

li {
  margin-bottom: 20px;
  font-size: 24px;
}
.date {
  font-size: 20px;
  font-style: italic;
}

.json_link {
  font-style: italic;
}

.footer {
  text-align: center;
  font-style: italic;
}